.clock {
  width: 100%;
  position: relative;
  height: 300px;
  padding-top: 100px;
}

.clock__date {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}

.clock__time {
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  color: black;
}

@media (max-width: 1300px) {
}

@media (max-width: 1023px) {
  .clock {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .clock__time {
    text-align: start;
  }

  .clock__date {
    text-align: left;
    font-weight: 500;
    color: rgb(241, 241, 241);
  }
}

@media (max-width: 480px) {
  .clock {
    height: 90%;
    margin: 0;
  }

  .clock__time {
    text-align: center;
    margin: 0;
  }

  .clock__date {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }
}
